In [42]:
import pandas as pd
import numpy as np

data = pd.read_csv('salary-train.csv')
data_test = pd.read_csv('salary-test-mini.csv')
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [43]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True).str.lower()
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True).str.lower()
data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,nan,20355

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
import pandas as pd
from scipy.sparse import hstack

tf_idf = TfidfVectorizer(min_df=5)

X_train_words = tf_idf.fit_transform(data['FullDescription'])
X_test_words = tf_idf.transform(data_test['FullDescription'])

enc = DictVectorizer()
X_train_categ = enc.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

X_train = hstack([X_train_words, X_train_categ])
X_test = hstack([X_test_words, X_test_categ])
y_train = data['SalaryNormalized']
y_test = data_test['SalaryNormalized']

clf = Ridge(alpha=1.0, random_state=241)
clf.fit(X_train, y_train) 

predictions = clf.predict(X_test)
predictions

array([ 56555.61500155,  37188.32442618])